<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Vite dev client (only needed in dev, but vite_rails handles that) %>

    <%# Load the React entrypoint: frontend/entrypoints/application.jsx %>
    <%= vite_javascript_tag 'application', 'data-turbo-track': 'reload' %>
  </head>
  <body class="bg-gray-50">
    <div id="root"></div>
  </body>
</html>
