<div id="root"></div>
<script>
  const e = React.createElement;
  function App() {
    return e('h1', null, 'Hello from React!');
  }
  const root = ReactDOM.createRoot(document.getElementById('root'));
  root.render(e(App));
</script>
